.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.col-third,
.col-quart,
.col-two-thirds {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .column-full,
  .column-half,
  .col-third,
  .col-quart,
  .col-two-thirds {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .col-third {
    width: 33%;
  }

  .col-quart {
    width: 25%;
  }

  .col-two-thirds {
    flex-basis: 66%;
  }
}
