
#h2nasa {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
  color: #10a9ff;
  letter-spacing: 3px;
}

#h2nasa:hover {
  text-shadow: 0 0 100px purple;
}

i.fa-check {
  cursor: pointer;
  font-size: 4.5em;
}
#spin-div {
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: #4a4f4a;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  margin: 0 auto;
  display: none;
}

#spin-div.view {
  display: block;
}

.loader {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: #4a4f4a;
  width: 100vw;
  height: 100vh;
}

.rocket {
  object-fit: contain;
  width: 80px;
}

.spin-text {
  color: rgb(180, 180, 189);
  font-size: 1.5em;
  padding-top: 8%;
}

.margin-top {
  margin: 1rem auto;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #10a9ff;
  border-top: 6px solid blueviolet;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
}



.search {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    );
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f8b76b;
  height: 3.5em;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 29px;
  color: #fff510;
}

.favorites {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    )
    0.5%;
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f8b76b;
  height: 5em;
  width: 100%;
  border-radius: 50%;
  text-decoration: none;
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 29px;
  color: #fff510;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #10a9ff;
}

.quote {
  width: 721px;
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff9fe;
  margin-top: 1%;
}

.image-container {
  width: 100%;
}

.images,
.search-img {
  object-fit: fill;
  width: 90%;
  height: auto;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.check-vid > iframe {
  width: 60em;
  height: 60em;
}

.video > iframe {
  width: 80em;
  height: 60em;
}

.content-box {
  border: 3px solid #000;
  box-shadow: 0 0 10px 5px #a49898c2;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 50px;
  position: relative;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.startitle,
.search-title,
.title {
  color: #fff856;
  font-family: "Dancing Script", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  text-shadow: none;
  padding-left: 0.5%;
}

.dateh3,
.search-date {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #13edfb;
  align-self: center;
  text-align: left;
  padding-left: 0.5%;
}

.fa-trash-can {
  width: 35px;
  height: 35px;
  color: #818781;
  position: absolute;
  font-size: 3em;
  right: 2%;
}

.fa-trash-can:active {
  transform: translateY(0.7rem);
}

.start-description,
.search-description,
.description {
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.7468px;
  line-height: 20px;
  color: #e7dfdf;
  margin-top: 10px;
  padding-left: 5px;
}

.view {
  display: block;
}

.hidden {
  display: none;
}

.heart,
.heart-div {
  width: 50px;
  height: 60px;
}

#heart-icon:active {
  transform: translateY(0.7rem);
}

.hearts:active {
  transform: translateY(0.7rem);
}

.elipse {
  width: 100%;
  height: 12.5em;
  background:
    linear-gradient(
      180deg,
      #14f7a5 15.1%,
      #81f0c8 31.77%,
      #dcae60 44.27%,
      #e74c3c 57.81%,
      #3beaf5 68.75%,
      #babfe6 86.46%,
      #f33c89 97.4%
    );
  opacity: 0.5;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 90px #fafe28;
  border-radius: 50%;
}

label {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 43px;
  color: #fff;
}

i {
  color: #3beaf5;
  font-size: 100px;
  margin-left: 5px;
  padding: 0;
}

.nav-tab:hover {
  box-shadow: 0 0 100px purple;
}

.nav-tab:active {
  transform: translateY(0.25rem);
}

.search-icon {
  object-fit: contain;
}

i:hover {
  color: pink;
}

i:active {
  transform: translateY(0.25rem);
}

input {
  width: 40%;
  height: 40%;
  margin: 0.5rem;
}

.input-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 9em;
  height: 4em;
}

ul {
  list-style: none;
}

#search-ul {
  list-style: none;
}

#modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background: rgba(41, 41, 41, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  width: 400px;
  height: 150px;
  background: #fff;
  border-radius: 5px;
  border: 0.5px solid black;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text > p {
  margin-top: 25px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.err-msg {
  margin: 5% auto;
  color: rgb(242, 144, 144);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.modal-btns > button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 15px;
  border: none;
  border-radius: 3px;
}

.confirm-modal {
  color: white;
  background-color: red;
}

.cancel-modal {
  background-color: rgb(180, 180, 180);
}

/* utility classes */

.display-flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-align-right {
  display: flex;
  justify-content: flex-end;
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-full > h2 {
  text-align: center;
}

.align-right {
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.marg-top {
  margin-top: 10%;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.align-self {
  justify-self: flex-end;
}

.width {
  flex-basis: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.object-fit {
  object-fit: contain;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.space-evenly {
  justify-content: space-evenly;
}

.row-wrap {
  flex-wrap: row wrap;
}
