
#h2nasa {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.1em;
  text-align: center;
  color: #10a9ff;
  letter-spacing: 3px;
  width: 100%;

text-shadow: 0 2px 1px #436290, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;

}

#h2nasa:hover {
  text-shadow: 0px 0px 20px  rgb(238, 232, 238);
}


fa-check {
  cursor: pointer;
  font-size: 4.5em;
}
#spin-div {
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: #4a4f4a;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;
  margin: 0 auto;
  display: none;
}

.loader {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background-color: #4a4f4a;
  width: 100vw;
  height: 100vh;
}

.rocket {
  object-fit: contain;
  width: 80px;
}

#spinDiv.view {
  display: block;
}

.margin-top {
  margin: 1rem auto;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #10a9ff;
  border-top: 6px solid blueviolet;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
}



.search {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    );
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f3f307;
  height: 4.5em;
  width: 7.3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10%;
   font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff510;
}


.favorites {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    )
    0.5%;
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f3f307;
  height: 7em;
  width: 12em;

  border-radius: 50%;
  text-decoration: none;
  line-height: 29px;
  color: #fff510;
  scroll-behavior: smooth;
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.favorites:hover {
  box-shadow: 0 0 100px purple;

}
.search:hover {
  box-shadow: 0 0 100px purple;

}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  scroll-behavior: smooth;
}

.center {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #10a9ff;
}

.quote {
  width: 90%;
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 20px;
  text-align: center;
  color: #fff9fe;
  margin-top: 1%;
}

.image-container {
  position: relative;
  text-align: center;
   width: 100%;
  
}

.earth-container, .search-earth-container {
 position: absolute;
}


.images,
.search-img {
  object-fit: fill;
   width: 90%;
  height: auto;
 box-shadow: 	0px 12px 17px 2px rgba(0, 0, 0, 0.311), 
		0px 5px 22px 4px rgba(0, 0, 0, 0.269), 
		0px 7px 8px -4px rgba(0, 0, 0, 0.497);
    border: 2px solid black;

  
}

img {
  width: 100%;
  height: auto;
  
}

iframe {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 	0px 12px 17px 2px rgba(0, 0, 0, 0.228), 
		0px 5px 22px 4px rgba(0, 0, 0, 0.424), 
		0px 7px 8px -4px rgba(0, 0, 0, 0.424);
  
}

.check-vid > iframe {
  width: 60em;
  height: 40em;
}

.video > iframe {
  width: 80em;
  height: 60em;
}

.content-box {
  border: 3px solid rgba(21, 20, 20, 0.554);
  background-color: #2e0c2ede;

  box-shadow: 	0px 12px 17px 2px rgba(0, 0, 0, 0.311), 
		0px 5px 22px 4px rgba(0, 0, 0, 0.269), 
		0px 7px 8px -4px rgba(0, 0, 0, 0.497);
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 1.5em;
  position: relative;

 
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.startitle,
.search-title,
.title {
  color: #fff856;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6em;
  text-shadow: none;
  padding-left: 0.5%;
}

.dateh3,
.search-date {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  color: #13edfb;
  align-self: center;
  text-align: left;
  padding-left: 0.6%;
}
.delete {
  display: block;
  align-self: flex-end;

   /* position: absolute;
  right: 2%;
  bottom: 1.7%; */
}

.fa-trash-can {
  color: #818781;
  font-size: 2.6em;
  padding: 0;
  margin: 0;
  text-align: right;

  
}

.fa-trash-can:active {
  transform: translateY(0.7rem);
}

.start-description,
.search-description,
.description {
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 25px;
  color: #e7dfdf;
  margin-top: 10px;
  padding-left: 5px;
  letter-spacing: 0.1rem;
  /* position: relative; */
 
}



.heart > a {
  display: flex;
  justify-content: end;

}



.view {
  display: block;
}

.hidden {
  display: none;
}

.heart,
.heart-div {
  width: 50px;
  height: 50px;
  

}

#heart-icon:active {
  transform: translateY(0.9rem);

  
}

.hearts:active {
  transform: translateY(0.9rem);
}

.hearts:hover {
  
  box-shadow: 0px 0px 50px rgba(47, 46, 44, 0.304);


}

.elipse {
  width: 100%;
  height: 12.3em;

  background:
    linear-gradient(
      180deg,
      #14f7a5 15.1%,
      #81f0c8 31.77%,
      #dcae60 44.27%,
      #e74c3c 57.81%,
      #3beaf5 68.75%,
      #babfe6 86.46%,
      #f33c89 97.4%
    );
  opacity: 0.5;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 90px #fafe28;
  border-radius: 50%;
}

label {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 43px;
  color: #fff;
}

i {
  color: #3beaf5;
 font-size: 4em;
 padding-left: 4%;
}

.nav-tab:hover {
  /* box-shadow: 0 0 100px purple; */
}

.nav-tab:active {
  transform: translateY(0.25rem);
}

.search-icon {
  object-fit: contain;
}



i:hover {
  color: pink;
}

i:active {
  transform: translateY(0.25rem);
}

input {
  width: 40%;
  height: 40%;
  margin: 0.5rem;
}

.input-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 9em;
  height: 4em;
}

ul {
  list-style: none;
}

#search-ul {
  list-style: none;
}

#modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background: rgba(41, 41, 41, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  width: 400px;
  height: 150px;
  background: #fff;
  border-radius: 5px;
  border: 0.5px solid black;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text > p {
  margin-top: 25px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.err-msg {
  margin: 5% auto;
  color: rgb(242, 144, 144);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.modal-btns > button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 15px;
  border: none;
  border-radius: 3px;
}

.confirm-modal {
  color: white;
  background-color: red;
}

.cancel-modal {
  background-color: rgb(180, 180, 180);
}

.p-0 {
  padding: 0 0.5em;
}
/* utility classes */

.display-flex {
  display: flex;
}

.justify-align-end {
  display: flex;
  justify-content: end;
  
}

.inline-flex {
  display: inline-flex;
}

.justify-align-right {
  display: flex;
  justify-content: flex-end;
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-full > h2 {
  text-align: center;
}

.align-right {
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.marg-top {
  margin-top: 10%;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.align-self {
  justify-self: flex-end;
}

.width {
  flex-basis: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.object-fit {
  object-fit: contain;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.display-inline-flex {
  display: block;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.space-evenly {
  justify-content: space-evenly;
}

.row-wrap {
  flex-wrap: row wrap;
}
