.margin-top {
  margin: 1rem auto;
}

#h2nasa {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 27px;

  /* identical to box height, or 75% */
  text-align: center;
  color: #10a9ff;
  letter-spacing: 3px;
}

.search {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    );
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f8b76b;
  height: 96px;
  width: 136.2389px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff510;
}

.favorites {
  background:
    linear-gradient(
      180deg,
      rgba(20, 247, 165, 0.45) 15.1%,
      rgba(129, 240, 200, 0.45) 31.77%,
      rgba(220, 174, 96, 0.45) 44.27%,
      rgba(231, 76, 60, 0.45) 57.81%,
      rgba(59, 234, 245, 0.45) 68.75%,
      rgba(186, 191, 230, 0.45) 86.46%,
      rgba(243, 60, 137, 0.45) 97.4%
    )
    0.5%;
  opacity: 0.8;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 60px #f8b76b;
  height: 134px;
  width: 190.9134px;
  border-radius: 50%;
  text-decoration: none;
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff510;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #10a9ff;
}

.quote {
  width: 721px;
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #fff9fe;
  margin-top: 0;
}

.image-container {
  width: 100%;
}

.images,
.search-img {
  object-fit: scale-down;
  width: 90%;
  height: auto;
}

img {
  width: 100%;
}

.content-box {
  border: 3px solid #000;
  box-shadow: 0 0 10px 5px #a49898c2;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 50px;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.startitle,
.search-title,
.title {
  color: #fff856;
  font-family: "Dancing Script", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  padding-left: 20px;
  text-shadow: none;
  margin: 0;
}

.dateh3,
.search-date {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #13edfb;
  align-self: center;
  text-align: right;
  padding-right: 50px;
}

.start-description,
.search-description,
.description {
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.7468px;
  line-height: 16px;
  color: #e7dfdf;
  margin-top: 10px;
  padding-left: 5px;
}

.view {
  display: block;
}

.hidden {
  display: none;
}

.heart,
.heart-div {
  width: 60px;
  height: 60px;
}

#heart-icon:active {
  transform: translateY(0.5rem);
}

.hearts:active {
  transform: translateY(0.5rem);
}

.elipse {
  width: 270px;
  height: 180px;
  background:
    linear-gradient(
      180deg,
      #14f7a5 15.1%,
      #81f0c8 31.77%,
      #dcae60 44.27%,
      #e74c3c 57.81%,
      #3beaf5 68.75%,
      #babfe6 86.46%,
      #f33c89 97.4%
    );
  opacity: 0.5;
  border: 3px solid rgba(21, 83, 243, 0.75);
  box-shadow: 0 0 90px #fafe28;
  border-radius: 50%;
}

label {
  font-family: "Recursive Mono Casual Static", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  color: #fff;
}

i {
  color: #3beaf5;
  font-size: 100px;
  margin-left: 5px;
  padding: 0;
}

.nav-tab:hover {
  box-shadow: 0 0 100px purple;
}

.nav-tab:active {
  transform: translateY(0.25rem);
}

.search-icon {
  object-fit: contain;
}

i:hover {
  color: pink;
}

i:active {
  transform: translateY(0.25rem);
}

input {
  width: 90px;
  height: 30px;
  margin: 5px;
}

.input-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 190;
  height: 70px;
}

ul {
  list-style: none;
}

#search-ul {
  list-style: none;
}

/* utility classes */

.display-flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-align-right {
  display: flex;
  justify-content: flex-end;
}

.justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-full > h2 {
  text-align: center;
}

.align-right {
  justify-content: flex-end;
}

iframe {
  margin: 0 auto;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.marg-top {
  margin-top: 10%;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.align-self {
  justify-self: flex-end;
}

.width {
  flex-basis: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-between;
  align-items: top;
}

.object-fit {
  object-fit: contain;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.row-wrap {
  flex-wrap: row wrap;
}
